node_modules/
build/
dist/
prebuilds/
/types/
*.tgz
npm-debug.log*
.omc/
artifacts/

# Docker TLS certs
docker/openldap/tls/*.crt
docker/openldap/tls/*.key
docker/openldap/tls/*.pem
docker/openldap/tls/*.srl
